.recipe(data-recipe-id=recipe._id.toString())
  .photo(style='background-image:url(#{recipe.photo});')
    button.redX.delete X
  .name= recipe.name
  .category= recipe.category
  .ingredients
    ul
      each ingredient in recipe.ingredients
        li= ingredient
  .directions= recipe.directions
